---
---

/*
* CSS for my homepage
* Written by Tom Natt, November '12
*/

@import url(https://fonts.googleapis.com/css?family=Oldenburg);
@import url(https://fonts.googleapis.com/css?family=Ribeye+Marrow);

$black: black;
$lightgrey: #f2f2f2;
$grey: #808080;
$darkgrey: #383838;
$red: #9a3521;
$cream: #ffefd2;

body {
  color: $darkgrey;
  font-family: ‘Arial Black’, Gadget, sans-serif;
  font-size: 20px;
  background: url("/images/backgrounds/natural_paper/natural_paper.png") repeat scroll 0 0 #C2C2A3;
}

.content {
  margin: 3rem auto;
  width: 65%;
}

h1, h2 {
  color: $black;
  font-family: 'Ribeye Marrow', cursive;
  font-size: 28px;
  width: 300px;
  transform:rotate(-30deg) translate(-65px, -40px);
}

h3 {
  color: $black;
  font-family: 'Ribeye Marrow', cursive;
  font-size: 28px;
}

p {
  margin-top: 3rem;
  margin-left: 2rem;
}

ul {
  padding-bottom: 35px;

  li {
    list-style: none;
    padding: 3px 15px;
    font-family: 'Oldenburg', cursive;

    a {
      border: transparent 1px solid;
      border-radius: 3px;
      color: $red;
      padding: 0 4px 0 2px;
      text-decoration: none;
      transition-property: background-color, border;
      transition-duration: 0.3s, 0.3s;

      &:hover {
        background-color: $cream;
        border: $red 1px solid;
      }
    }
  }
}

.humble {
  margin-top: 4rem;

  input#search {
    width: 80%;
    margin-bottom: 1rem;
    margin-left: 7%;
    border: solid 2px $red;
    box-shadow: 6px 6px 4px -2px $red;
    padding: 20px;
    font-size: larger;
  }

  table#humble-list {
    width: 100%;
    border-collapse: collapse;

    thead tr {
      border-bottom: solid 2px $red;

      th {
        padding: 6px 0;
      }
    }

    .steamname {
      width: 65%;
      text-align: left;
    }
    .bundle {
      width: 20%;
      text-align: center;
    }
    .steamid {
      width: 15%;
      color: $grey;
      text-align: center;
    }

    tbody tr {
      &:nth-child(even) {
        background-color: $lightgrey;
      }
      &:hover {
        background-color: $cream;
      }

      td {
        padding: 6px 0;
      }
    }

  }
}
