<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="keywords" content="{{ page.keywords }}, tom natt"/>
  <meta name="description" content="{{ page.description }}"/>
  <title>{{ page.title }}</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" media="screen" type="text/css" href="/css/tomnatt.css" title="Default" />
  <link rel="alternate" type="application/atom+xml" title="Tom's Blog" href="http://tomnatt.blogspot.com/feeds/posts/default" />
  <!-- Favicons -->
  <link rel="icon" type="image/png" href="/images/favicon/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/images/favicon/favicon-16x16.png" sizes="16x16" />
  <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple/apple-touch-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple/apple-touch-icon-180x180.png" />
  <link rel="icon" sizes="192x192" type="image/png" href="/images/favicon/android/android-chrome-192x192.png" />
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  <meta name="msapplication-config" content="/images/favicon/browserconfig.xml">
  <meta name="msapplication-TileImage" content="/images/favicon/windows/mstile-144x144.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#9a3521">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-6STVSXJZ8J"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-6STVSXJZ8J');
  </script>
</head>
<body>

    <div class="content">
        {{ content }}
    </div>

</body>
</html>
