<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="keywords" content="{{ page.keywords }} tom natt"/>
  <meta name="description" content="{{ page.description }}"/>
  <title>{{ page.title }}</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" media="screen" type="text/css" href="/css/tomnatt.css" title="Default" />
  <link rel="alternate" type="application/atom+xml" title="Tom's Blog" href="http://tomnatt.blogspot.com/feeds/posts/default" />
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-6STVSXJZ8J"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-6STVSXJZ8J');
  </script>
</head>
<body>

    <div class="content">
        {{ content }}
    </div>

</body>
</html>
